<h1>Your Projects</h1>

<%= link_to "all", url_for(action: 'index', status: nil) %> |
<%= link_to "complete", url_for(status: 'complete') %> |
<%= link_to "incomplete", url_for(status: 'incomplete') %> |
<%= link_to "empty", url_for(status: 'empty') %>

<br />
<br />

<table class="table">
  <tbody>
    <%= sync partial: 'project_list_row', collection: @projects, refetch: true %>
    <%= sync_new partial: 'project_list_row', resource: Project.new, refetch: true %>
  </tbody>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
